footer {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  background-color: #bb2a2a;
  color: white;
  width: 100%;
  padding: 2px;
}
.logofooter {
  display: flex;
  align-items: center;
  text-align: justify;
  width: 3rem;
}

.rrss_link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 32px;
  color: #5d50c6;
  margin-top: 64px;
  margin-bottom: 32px;
}
