:root{
 --brand-title: "Lobster Two", sans-serif;
 --brand-body: "Playfair Display", serif;
 --brand-blue-color: rgba(9, 91, 116, 0.966);
 --brand-pink-color:  rgb(228, 217, 227);
 --brand-red-color:  rgb(192, 12, 42) ;
}