<head>
  <link rel="stylesheet" href="../scss/formulary.scss" />
</head>
<main class="formulary_page">
<section class="form_elements">
  <form action="" method="post">
    <fieldset class="form">
      <legend>About you</legend>

      <label for="insert_photo">Add your photo</label>
      <input id="insert_photo" type="file" name="insert_photo" />

      <label for="email">Email </label>
      <input id="email" type="email" />

      <label for="name">Name</label>
      <input id="name" type="text" name="name" />

      <label for="age">Age</label>
      <input id="age" type="text" name="age" />

      <label for="quality">One quality that defines you.</label>
      <input id="quality" type="text" name="quality" />
    </fieldset>
    <h3>Check one choice to meet you better!</h3>
    <fieldset class="form">
      <legend>What place do you prefer?</legend>
      <div>
        <input type="radio" name="place" id="beach" value="p1" />
        <label for="beach">Beach</label>
        <input type="radio" name="place" id="mountain" value="p2" />
        <label for="mountain">Mountain</label>
      </div>
    </fieldset>
    <fieldset class="form">
      <legend>What drink do you prefer?</legend>
      <div>
        <input type="radio" name="drink" id="beer" value="p1" />
        <label for="beer">Beer</label>
        <input type="radio" name="drink" id="wine" value="p2" />
        <label for="wine">Wine</label>
      </div>
    </fieldset>
    <fieldset class="form">
      <legend>What food do you prefer?</legend>
      <div>
        <input type="radio" name="food" id="meat" value="p1" />
        <label for="meat">Meat</label>
        <input type="radio" name="food" id="vegan" value="p2" />
        <label for="vegan"> Vegan</label>
      </div>
    </fieldset>
  </form>

</section>
</main>
