
    <head>
      <link rel="stylesheet" href="./scss/main.scss" />
    </head>
    
    <section class="form_elements">
    <form action="" method="post">
      <fieldset class="form">
        <legend>About you</legend>

        <label for="insert_photo">Add your photo</label>
        <input id="insert_photo" type="file" name="insert_photo" />

        <label for="email">Email </label>
        <input id="email" type="email">

        <label for="name">Name</label>
        <input id="name" type="text" name="name" />

        <label for="age">Age</label>
        <input id="age" type="text" name="age" />

        <label for="quality">One quality that defines you.</label>
        <input id="quality" type="text" name="quality" />
      </fieldset>

      <fieldset class="form">
        <legend>Check one choice</legend>
        <div>
          <input type="radio" name="place" id="beach" value="p1" >
          <label for="beach">Beach</label>
          <input type="radio" name="place" id="mountain" value="p2" >
          <label for="mountain">Mountain</label>
        </div>
        <div>
          <input type="radio" name="drink" id="beer" value="p1" >
          <label for="beer">Beer</label>
          <input type="radio" name="drink" id="wine" value="p2" >
          <label for="wine">Wine</label>
        </div>

      </fieldset> 

      </form>
      </section>
