<head>
  
  <link rel="stylesheet" href="./scss/_landing.scss">
</head>

<main  class="main">
 
  <section class="bigsection">
    <img class="imglog" src="./img/log.png" alt="icon"/>
   <h1 class="title">Vibe-Match</h1> 
  </section>

  
   <div class="sectmedium">
    <h3  >Create your profile card</h3>
    <p>A unique card valid for all dating sites.
      Let the world know who you are.
    </p>
  </div> 
  
   
  <ul class="conticon">
    <div>
      <img class="img1"  src="./img/iconpersonaliza.webp" alt="iconrellena" alt="Fill">
      <p>Fill</p>
    </div>
  
  
    <div>
      <img  class="img2" src="./img/iconrellena.jpg" alt="Chose">
      <p>Chose</p>
    </div>
    

  <div>
    <img class="img3" src="./img/icondescarga.png" alt="Share">
    <p>Share</p>
  </div>
  
  </ul>
  <a href="./formulary.html" >
    <button class="btngo">Star now! ❤</button> 
  </a>
  
</main>