@use "../scss/sections/variable" as vars;
@use "./sections/footer";

.form {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  padding: 1rem;
  gap: 0.25rem;
  margin: 0.5rem;
  font-family: "Playfair Display", serif;
}
.form_page {
  width: 100vw;
  background-color: var(--brand-pink-color);
  color: var(--brand-blue-color);
  font-family: "Playfair Display", serif;
  text-align: center;
}
.forms_sections {
  display: block;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.place1 {
  text-align: center;
}
.drink1 {
  text-align: center;
}
.food1 {
  text-align: center;
}
.preview {
  text-align: center;
}

.title_checkOne {
  text-align: center;
  font-family: "Lobster Two", sans-serif;
}
.btnsshow {
  padding: 0.5rem;
  font-family: "Lobster Two", sans-serif;
  color: var(--brand-blue-color);
  border-radius: 0.5rem;
  border: solid var(--brand-blue-color)
}
.btnsshowstyle{
  padding: 0.5rem;
  font-family: "Lobster Two", sans-serif;
  color: rgb(187, 42, 42);
  border-radius: 0.5rem;
  border: solid rgb(187, 42, 42)
}

@media (width > 1024px) {
  .form_page {
    display: flex;
    justify-content: space-around;
  }
}
