@use "../scss/sections/variable" as vars;

.form {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  padding: 1.2rem;
  gap: 0.25rem;
  margin: 2rem;
  font-family: var;
}
.formulary_page {
  background-color: var(--brand-pink-color);
  color: var(--brand-blue-color);
}

.place1 {
  text-align: center;
}
.drink1 {
  text-align: center;
}
.food1 {
  text-align: center;
}
.preview {
  text-align: center;
}

.title_checkOne {
  text-align: center;
}

@media (width > 1024px){
  .form_elements{
    display: flex;
    justify-content: space-around;
  }
};