@use "./sections/variable" as vars;

.form_page {
  width: 100%;
  height: 100%;
  background-color: var(--brand-pink-color);
  color: var(--brand-blue-color);
  font-family: "Playfair Display", serif;
  text-align: center;
}

.forms_sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.6rem;
}
.form {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  padding: 1rem;
  gap: 0.5rem;
  margin: 0.5rem;
  font-family: "Playfair Display", serif;
}

.formhidden {
  visibility: hidden;
  display: none;
}

.place1 {
  text-align: center;
}
.drink1 {
  text-align: center;
}
.food1 {
  text-align: center;
}
.preview {
  text-align: center;
}

.title_checkOne {
  text-align: center;
  font-family: "Lobster Two", sans-serif;
  padding: 0.5rem;
}
.btnsshow {
  padding: 0.5rem;
  font-family: "Lobster Two", sans-serif;
  color: var(--brand-blue-color);
  border-radius: 0.5rem;
  border: solid var(--brand-blue-color);
}
.btnsshowstyle {
  padding: 0.5rem;
  font-family: "Lobster Two", sans-serif;
  color: rgb(187, 42, 42);
  border-radius: 0.5rem;
  border: solid rgb(187, 42, 42);
}

.create {
  padding: 0.5rem;
  font-family: "Lobster Two", sans-serif;
  color: rgb(187, 42, 42);
  border-radius: 0.5rem;
  border: solid rgb(187, 42, 42);
  margin-top: 10px;

}

.formulary_page {
  background-color: var(--brand-pink-color);
  color: var(--brand-blue-color);
}

.place1 {
  text-align: center;
}
.drink1 {
  text-align: center;
}
.food1 {
  text-align: center;
}
.preview {
  display: block;
  align-items: center;
  justify-items: center;
  
}

.title_checkOne {
  text-align: center;
}

.reset {
  padding: 0.5rem;
  font-family: "Lobster Two", sans-serif;
  color: rgb(187, 42, 42);
  border-radius: 0.5rem;
  border: solid rgb(187, 42, 42);
  margin-top: 10px;
}

@media (width > 1024px) {
  .form_page {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
  }

  .form_sections {
    display: flex;
    justify-content: space-around;
  }
}

.input_photo {
  display: none;
}

.btn_add_img {
  background-color: rgb(187, 42, 42);
  font-size: 8px;
  border: solid 1px rgba(4, 41, 66);
  padding: 0.3em;
  color: rgb(252, 252, 252);
  border-radius: 5px;
}

.profile__preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.sectionb_add_img {
  display: flex;
  margin: 0.3em;
  gap: 0.5em;
  justify-content: center;
}

//style preview card

.card {
  background: rgb(163, 20, 20);
  margin: 0.1em;
  min-width: 350px;
  height: 45vh;
  border: 5px solid;
  border-image: linear-gradient(to right, #be2a2a, #fbc531) 1;
  background: linear-gradient(
    145deg,
    #ffeef2,
    #f3f8fc
  ); /* rosa pálido y azul muy suave */
  box-shadow: 0 4px 12px rgba(0, 63, 105, 0.1); /* sombra azul discreta */
   font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: grid;
  grid-template-areas:
    "name name  "
    "photo datas"
    "chose chose ";
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 60% 20%;
  color: var(--brand-blue-color);
}
.preview-quality {
  font-size: 10px;
  color: #be2a2a;
  
}

.contentdata{
  grid-area:datas;
  display: flex;
  flex-direction: column;
  gap:10px;
  
  
 

}

.preview-age {
  font-size: 16px;
 
}
.preview-name {
  margin:5px;
  font-size: 14px;
  grid-area: name;
  color: #be2a2a;
}

.preview-email {
  font-size: 8px;
 
}

.profile__image {
  display: flex;
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  grid-area:photo;
  border-radius: 50%;
  margin-left:2px;
  
  .profile_preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #161616;
  width:2em;
  height:2em;
  display:inline-block;
}
}

.preview-choose {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  font-size: 12px;
  grid-area: chose;
  margin-top:4px;

  
}
